<template>
  <div id="top">
    <section class="u-left-container u-display-flex-row">
    
      <app-project-post class="u-w-2/3" />

      <aside class="u-w-1/3 SingleProject-asideBar">
        <h3>Skills:</h3>
        <app-project-skills 
          :skillset="loadedProject.skills" 
          :active-skills="loadedProject.type"/>

        <app-project-info 
          :project="loadedProject"
          class="u-mt-4" />
      </aside>
      
    </section>

    <app-customer-journey 
      v-if="loadedProject.loadCustomerJourneys"
      :name="$route.params.name" />

    <footer>
      <div class="SingleProject-footer">
        <nuxt-link :to="{ path: '/Portfolio/projects/' }">Back to projects</nuxt-link>
        <nuxt-link :to="{ path: '/Portfolio/projects/' + $route.params.name, hash: 'top' }">Back to top</nuxt-link>
      </div>
    </footer>
  </div>
</template>

<script>
import ProjectPost from '~/components/Projects/Elements/ProjectPost.vue';
import ProjectInfo from '~/components/Projects/Elements/ProjectInfo.vue';
import ProjectSkills from '~/components/Projects/Skills/ProjectSkills.vue';
import CustomerJourney from '~/components/Projects/CustomerJourney/CustomerJourney.vue';

export default {
  name: 'SingleProject',
  components: {
    appProjectInfo: ProjectInfo,
    appProjectSkills: ProjectSkills,
    appCustomerJourney: CustomerJourney,
    appProjectPost: ProjectPost
  },
  async asyncData(context) {
    if (context.payload) {
      return {
        loadedProject: context.payload.projectData
      };
    }
    const project = await context.app.$axios.get(
      '/projects/' + context.params.name + '.json'
    );

    if (project.data.hasOwnProperty('loadCustomerJourneys')) {
      if (project.data.loadCustomerJourneys === true) {
        const customerJourneysData = await context.app.$axios.get(
          '/customer-journeys/' + context.params.name + '.json'
        );
        context.app.store.dispatch(
          'CustomerJourneys/setLoadedCustomerJourneys',
          customerJourneysData.data
        );
      }
    }

    context.app.store.dispatch('Projects/setLoadedProject', project.data);

    return {
      loadedProject: project.data
    };
  },
  head() {
    return {
      title: this.loadedProject.name
    };
  }
};
</script>

<style scoped>
.SingleProject-asideBar {
  @apply u-p-6;
  @apply u-mt-8;
  @apply u-bg-grey-light;
  @apply u-shadow;
}

.SingleProject-footer {
  @apply u-text-center;
  @apply u-my-6;
  @apply u-text-xl;
}
</style>
