<template>
  <section class="u-centered-container">
    <h1 class="u-page-header">Edit Projects</h1>
    <div class="u-display-flex-col">
      <div 
        v-for="(project, key) in getLoadedProjects"
        :key="key"
        class="u-display-flex-row EditProjects-tableRow">
        <div class="u-flex-grow u-p-4">
          <span class="u-font-bold u-text-xl">{{ project.contractor }}</span>
        </div>
        <div class="u-w-1/6 EditProjects-buttonCol">
          <app-button 
            custom-event="edit" 
            @edit="editProject(key)">Edit</app-button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'EditProjects',
  middleware: ['check-auth', 'auth'],
  layout: 'admin',
  computed: {
    ...mapGetters({
      getLoadedProjects: 'Projects/getLoadedProjects'
    })
  },
  methods: {
    editProject(key) {
      this.$router.push('/admin/projects/' + key);
    }
  },
  async asyncData(context) {
    if (context.app.store.getters['Projects/getLoadedProjects'].length === 0) {
      context.app.store.dispatch('Projects/setLoadedProjects');
    }
  }
};
</script>

<style>
.EditProjects-tableRow {
  @apply u-max-w-md;
}

.EditProjects-tableRow:nth-child(even) {
  @apply u-bg-blue-lighter;
}

.EditProjects-buttonCol {
  @apply u-flex;
  @apply u-justify-center;
  @apply u-items-center;
}
</style>
