<template>
  <section class="u-max-w-md u-shadow">
    <header class="Inbox-title">
      
      <h2 class="u-p-4"><fa-icon icon="envelope" /> Inbox</h2>
    </header>
    <div class="u-flex-col-full">
      <div class="u-flex-row-full">
        <div class="u-w-1/4">
          <h3 class="Inbox-heading">From:</h3>
        </div>
        <div class="u-w-1/2">
          <h3 class="Inbox-heading">Message:</h3>
        </div>
        <div class="u-w-1/4">
          <h3 class="Inbox-heading is-last">E-mail:</h3>
        </div>
      </div>
      <div 
        v-for="(message, key) in messages"
        :key="key"
        class="u-display-flex-row Inbox-tableRow">
        <div class="Inbox-cell u-flex-shrink"><fa-icon icon="envelope" /></div>
        <div class="Inbox-cell u-w-1/4">{{ message.name }}</div>
        <div class="Inbox-cell u-w-1/2">{{ message.message.slice(0, 30) }}...</div>
        <div class="Inbox-cell u-w-1/4">{{ message.email }}</div>
      </div>
    </div>
    <div class="Inbox-footer" />
  </section>
</template>

<script>
export default {
  name: 'ContactInbox',
  data() {
    return {
      messages: {}
    };
  },
  async created() {
    const messages = await this.$axios.get('/contact.json');
    this.messages = messages.data;
  }
};
</script>

<style>
.Inbox-heading {
  @apply u-bg-blue-darker;
  @apply u-text-white;
  @apply u-px-4;
  @apply u-py-2;
  @apply u-border-r;
  @apply u-text-base;
}

.Inbox-heading.is-last,
.Inbox-cell.is-last {
  @apply u-border-r-0;
}

.Inbox-tableRow {
  @apply u-bg-blue-lighter;
  @apply u-cursor-pointer;
}

.Inbox-tableRow:nth-child(odd) {
  @apply u-bg-blue-lightest;
}

.Inbox-tableRow:hover {
  @apply u-bg-blue;
  @apply u-text-white;
}

.Inbox-cell {
  @apply u-p-4;
  @apply u-border-r;
  @apply u-border-t;
}

.Inbox-title {
  @apply u-bg-blue-dark;
  @apply u-rounded-t-lg;
  @apply u-text-white;
  @apply u-border-b;
}

.Inbox-footer {
  @apply u-bg-blue-dark;
  @apply u-rounded-b-lg;
  @apply u-border-t;
  @apply u-h-4;
  @apply u-w-full;
}
</style>
