<template>
  <section>
    <div
      v-for="(skills, skillKey) in skillset"
      :key="skillKey"
      class="u-mt-4 u-flex">
      <div class="u-w-1/6 u-flex">
        <div class="u-self-center u-justify-center u-w-full u-flex">
          <svg-design v-if="skillKey === 'design' && activeSkills.includes(toCapitalize(skillKey))" />
          <svg-innovation v-if="skillKey === 'innovation' && activeSkills.includes(toCapitalize(skillKey))" />
          <svg-blockchain v-if="skillKey === 'blockchain' && activeSkills.includes(toCapitalize(skillKey))" />
          <svg-development v-if="skillKey === 'development' && activeSkills.includes(toCapitalize(skillKey))" />
        </div>
      </div>
      <div 
        v-if="activeSkills.includes(toCapitalize(skillKey))"
        class="u-w-5/6">
        <h3 class="u-capitalize">{{ skillKey }}:</h3>
        <ul class="u-list-reset">
          <li 
            v-for="skill in skills"
            :key="skill"
            class="u-ml-3 u-p-2">
            -{{ skill }}
          </li>
        </ul>
      </div>
    </div>
  </section>
</template>

<script>
import SvgDesign from '~/components/UI/Svg/Design.vue';
import SvgInnovation from '~/components/UI/Svg/Innovation.vue';
import SvgDevelopment from '~/components/UI/Svg/Development.vue';
import SvgBlockchain from '~/components/UI/Svg/Blockchain.vue';

export default {
  name: 'ProjectSkills',
  components: {
    SvgDesign,
    SvgInnovation,
    SvgDevelopment,
    SvgBlockchain
  },
  props: {
    skillset: {
      type: Object,
      required: true
    },
    activeSkills: {
      type: Array,
      required: true
    }
  },
  methods: {
    toCapitalize(string) {
      return string.charAt(0).toUpperCase() + string.slice(1);
    }
  }
};
</script>
