<template>
  <section class="u-p-8">
    <app-projects :projects="projects"/>
  </section>
</template>

<script>
import Projects from '~/components/Projects/Projects.vue';

export default {
  layout: 'projects',
  components: {
    appProjects: Projects
  },
  async asyncData(context) {
    const project = await context.app.$axios.get('/projects/.json');

    return {
      projects: project.data
    };
  }
};
</script>
