<template>
  <transition name="ImageModal">
    <div class="ImageModal-mask">
      <div class="ImageModal-wrapper">
        <div class="ImageModal-container">

          <div class="ImageModal-header u-display-flex-row">
            <h2 class="ImageModal-heading">
              <slot name="header">
                Bitgate System Flow Overview
              </slot>
            </h2>

            <fa-icon 
              icon="times"
              class="u-cursor-pointer"
              @click="$emit('close')" />
          </div>

          <div class="ImageModal-body">
            <figure 
              class="ImageModal-image">
              <slot name="body" />
              <!-- <img src="/bitgate/bitgate-ux-flow-lg.png"> -->
            </figure>
          </div>

          <div class="modal-footer">
            <slot name="footer" />
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: 'ImageModal'
};
</script>

<style>
.ImageModal-mask {
  @apply u-grid;
  @apply u-fixed;
  @apply u-pin-t;
  @apply u-pin-l;
  grid-template-columns: 24px 1fr 24px;
  @apply u-w-full;
  @apply u-h-full;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.ImageModal-wrapper {
  grid-column: 2 / 3;
  @apply u-align-middle;
}

.ImageModal-container {
  @apply u-bg-white;
  @apply u-rounded;
  @apply u-py-6;
  @apply u-px-8;
  @apply u-my-0;
  @apply u-mx-auto;
  @apply u-shadow-md;
  @apply u-grid;
  grid-template-columns: 24px 1fr 24px;
  grid-template-rows: 50px 1fr;
  transition: all 0.5s ease;
}

.ImageModal-header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  @apply u-mt-0;
}

.ImageModal-heading {
  @apply u-flex;
  @apply u-flex-grow;
}

.ImageModal-body {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  @apply u-justify-self-center;
  @apply u-my-6;
  @apply u-mx-0;
  @apply u-h-screen;
}

.ImageModal-image {
  @apply u-overflow-y-scroll;
  @apply u-h-full;
}

.ImageModal-enter {
  @apply u-opacity-0;
}

.ImageModal-leave-active {
  @apply u-opacity-0;
}

.ImageModal-enter .ImageModal-container,
.ImageModal-leave-active .ImageModal-container {
  transform: scale(1.1);
}
</style>
