<template>
  <div 
    class="u-p-8"
    itemscope 
    itemtype="http://schema.org/Collection">
    <h1 itemprop="name">Design</h1>
    <app-project-card :project="project" />
  </div>
</template>

<script>
import ProjectCard from '@/components/Projects/Elements/ProjectCard.vue';

export default {
  name: 'FeaturedProjects',
  components: {
    appProjectCard: ProjectCard
  },
  props: {
    project: {
      type: Object,
      required: true
    }
  }
};
</script>
