<template>
  <h1>Edit Customer Journey</h1>
</template>

<script>
export default {
  name: 'EditCustomerJourney',
  middleware: ['check-auth', 'auth'],
  layout: 'admin'
};
</script>

<style>
</style>
