<template>
  <section>
    <h1 class="u-page-header">Admin panel</h1>
    
    <div class="Admin-dashboard">
      <div class="u-w-1/3">
        <h2>Edit featured projects</h2>
      </div>
      <contact-inbox class="u-flex-grow" />
    </div>
  </section>
</template>

<script>
import ContactInbox from '@/components/Admin/Contact/Inbox.vue';

export default {
  name: 'Admin',
  middleware: ['check-auth', 'auth'],
  layout: 'admin',
  components: {
    ContactInbox
  },
  methods: {
    setFeaturedDesign(name) {
      this.$store.dispatch('FeaturedProjects/setFeaturedDesign', name);
    }
  },
  async asyncData(context) {
    const featured = await context.app.$axios.get('/featured.json');

    context.app.store.dispatch('Projects/setLoadedProjects');
    const projects = context.app.store.getters['Projects/getLoadedProjects'];

    return {
      featuredDesign: featured.data,
      projects: projects
    };
  }
};
</script>

<style>
.Admin-dashboard {
  @apply u-flex;
  @apply u-flex-row;
  @apply u-w-full;
  @apply u-mb-8;
}
</style>
