<template>
  <section class="u-centered-container">
    <h1 class="u-page-header">Send me a message</h1>
    <form class="u-full-width-md u-form">
      <div class="u-form-group">
        <div class="u-w-1/2 u-form-group-item ">
          <app-controller-input 
            v-model.trim="name"
            :has-error="$v.name.$error"
            :is-valid="!$v.name.$invalid"
            type="text"
            placeholder="Scully"
            @input="delayTouch($v.name)">
            Your name 
            <app-required-field v-if="!$v.name.required && $v.name.$dirty" />
          </app-controller-input>
          <app-input-validation
            v-if="!$v.name.minLength && $v.name.$error"
            input-name="name"
            validation-type="minLength">
            <span slot="minLength">{{ $v.name.$params.minLength.min }}</span>
          </app-input-validation>
        </div>
        <div class="u-w-1/2 u-form-group-item">
          <app-controller-input 
            v-model.trim="email"
            :has-error="$v.email.$error"
            :is-valid="!$v.email.$invalid"
            type="email"
            placeholder="scully@fbi.gov"
            @input="delayTouch($v.email)">
            Your e-mail
            <app-required-field v-if="!$v.email.required && $v.email.$dirty" />
          </app-controller-input>
          <app-input-validation
            v-if="!$v.email.email && $v.email.$error"
            input-name="e-mail"
            validation-type="email" />
        </div>
      </div>
      <div class="u-form-group u-last-form-group">
        <div class="u-form-group-item">
          <app-controller-input 
            v-model.trim="message"
            :has-error="$v.message.$error"
            :is-valid="!$v.message.$invalid"
            control-type="textarea"
            @input="delayTouch($v.message)">
            Message
            <app-required-field v-if="!$v.message.required && $v.message.$dirty" />
          </app-controller-input>
          <app-input-validation
            v-if="!$v.message.minLength && $v.message.$error"
            input-name="message"
            validation-type="minLength">
            <span slot="minLength">{{ $v.message.$params.minLength.min }}</span>
          </app-input-validation>
        </div>
      </div>
      <div class="u-text-center">
        <app-button 
          custom-event="submitForm"
          button-type="submit"
          @submitForm="send">Send</app-button>
        <app-button 
          custom-event="resetForm"
          button-type="reset"
          button-class="u-btn-cancel"
          @resetForm="reset">Reset</app-button>
      </div>
      <app-form-validation :validation-type="submitStatus">
        <p slot="OK">Thank you for you message. I will get back to you shortly!</p>
        <p slot="PENDING">Sending...</p>
        <p slot="ERROR">
          <span v-if="$v.$anyError">Oh no! Please check that</span>
          <span 
            v-if="$v.name.$invalid"
            class="u-text-bold">"Name"</span>
          <span 
            v-if="$v.email.$invalid && $v.name.$invalid"
            class="u-text-bold">and</span>
          <span 
            v-if="$v.email.$invalid"
            class="u-text-bold">"Mail"</span>
          <span 
            v-if="$v.message.$invalid"
            class="u-text-bold">and</span>
          <span 
            v-if="$v.message.$invalid"
            class="u-text-bold">"Message"</span>
          <span v-if="$v.$anyError">is filled out correctly.</span>
          <span 
            v-if="!$v.$anyError">Great! Now you can try again!</span>
        </p>
      </app-form-validation>
    </form>
  </section>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, minLength, email } from 'vuelidate/lib/validators';
import AppFormValidation from '@/components/UI/Forms/AppFormValidation.vue';
import AppInputValidation from '@/components/UI/Forms/AppInputValidation.vue';
import AppRequiredField from '@/components/UI/Forms/AppRequiredField.vue';

const touchMap = new WeakMap();

export default {
  name: 'Contact',
  components: {
    AppFormValidation,
    AppInputValidation,
    AppRequiredField
  },
  mixins: [validationMixin],
  data() {
    return {
      name: '',
      email: '',
      message: '',
      submitStatus: false
    };
  },
  validations: {
    name: {
      required,
      minLength: minLength(2)
    },
    email: {
      required,
      email
    },
    message: {
      required,
      minLength: minLength(10)
    }
  },
  methods: {
    send() {
      let message = {
        name: this.name,
        email: this.email,
        message: this.message
      };

      this.$v.$touch();
      if (this.$v.$invalid) {
        this.submitStatus = 'ERROR';
      } else {
        this.submitStatus = 'PENDING';
        this.$axios.post('/contact.json', message).then(res => {
          this.submitStatus = 'OK';
          this.name = '';
          this.email = '';
          this.message = '';
          this.$v.$reset();
        });
      }
    },
    delayTouch($v) {
      $v.$reset();
      if (touchMap.has($v)) {
        clearTimeout(touchMap.get($v));
      }
      touchMap.set($v, setTimeout($v.$touch, 1000));
    },
    reset() {
      this.name = '';
      this.email = '';
      this.message = '';
      this.$v.$reset();
    }
  }
};
</script>
