<template>
  <div class="ProjectLinks-container">
    <h3>Content:</h3>
    <nuxt-link :to="{ path: '/Portfolio/projects/' + id, hash: 'project-post' }">Description</nuxt-link>
    <div v-if="customerJourneyLink">
      <nuxt-link 
        v-for="(journey, key) in customerJourneyData"
        :key="key"
        :to="{ path: '/Portfolio/projects/' + id, hash: key }">Customer Journey: <span class="u-capitalize">{{ key }} </span></nuxt-link>
    </div>
    
  </div>
</template>

<script>
export default {
  name: 'ProjectLinks',
  props: {
    id: {
      type: String,
      required: true
    },
    customerJourneyLink: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {
      customerJourneyData: {}
    };
  },
  created() {
    if (this.customerJourneyLink) {
      this.customerJourneyData = this.$store.getters[
        'CustomerJourneys/getLoadedCustomerJourneys'
      ];
    }
  }
};
</script>

<style scoped>
.ProjectLinks-container {
  @apply u-flex;
  @apply u-flex-col;
  @apply u-mt-12;
  @apply u-pr-16;
  @apply u-pl-4;
}
</style>
