<template>
  <section>
    <header>
      <h1>Project: {{ getLoadedProject.name }}</h1>
      <h2 v-if="!getLoadedProject.projectJSON">Coming soon</h2>
      <app-project-links 
        v-if="getLoadedProject.projectPost"
        :id="getLoadedProject.name"
        :customer-journey-link="getLoadedProject.loadCustomerJourneys" />
    </header>

    <app-project-article 
      v-if="getLoadedProject.projectJSON"
      :json="getLoadedProject.projectJSON" 
      class="u-m-4"
      @imageClicked="onImageClicked($event)" />

    <app-image-modal
      v-if="showModal"
      @close="showModal = false">
      <img 
        slot="body"
        :src="modalImageSrc"
        alt="Modal Image">
    </app-image-modal>
  </section>
</template>

<script>
import { mapGetters } from 'vuex';
import ProjectLinks from '~/components/Projects/Elements/ProjectLinks.vue';
import ProjectArticle from '~/components/Projects/Elements/ProjectArticle.vue';
import AppImageModal from '~/components/UI/Modal/AppImageModal.vue';

export default {
  name: 'ProjectPost',
  components: {
    appProjectLinks: ProjectLinks,
    appProjectArticle: ProjectArticle,
    AppImageModal
  },
  data() {
    return {
      modalImageSrc: '',
      showModal: false
    };
  },
  computed: {
    ...mapGetters({
      getLoadedProject: 'Projects/getLoadedProject'
    })
  },
  methods: {
    onImageClicked(event) {
      this.showModal = true;
      const imageSrc = event.split('.');
      const largeImageSrc = imageSrc[0] + '-lg.' + imageSrc[1];
      console.log(largeImageSrc);
      this.modalImageSrc = largeImageSrc;
    }
  }
};
</script>

<style>
.ProjectPost-Article {
  @apply u-m-4;
}

.ProjectPost-Article p {
  @apply u-mb-4;
}

.ProjectPost-Article h2,
.ProjectPost-Article h3 {
  @apply u-mt-8;
}
</style>
