<script>
// This componenent is responsible for rendering the project post that the user
// creates with the rich text editor in the admin panel. The rich tex editor
// supports the following:
//
// - <p></p> Marks can be used on inlined content withing paragraphs.
// - <img> Images can also be inserted inside a paragraph.
// - <iframe></iframe> For youtube embed only
// - <h1></h1><h2></h2><h3></h3>
// - <ul><li></li></ul> / <ol><li></li></ol>
// - MARKS:
// -- <a></a>
// -- <em></em>
// -- <strong></strong>
// -- <span></span> Content will be styled with striketrough or underline
//
// THE EDITOR:
// The rich editor used is ProseMirror, docs can be found here:
// https://prosemirror.net/docs/
// It is implemented with tiptap that can bee found here:
// https://github.com/scrumpy/tiptap
// The implementation is by a renderless component which gives full control of markup and
// styling. ProseMirror is only able to read the tags pre defined tags(listed above),
// it will not unsderstand anything else.
export default {
  name: 'ProjectArticle',
  props: {
    json: {
      type: Object,
      required: true
    }
  },
  render(createElement) {
    var self = this;
    return createElement(
      // Render wrapper div
      'div',
      // Vue VNodes must be unique by default. Since we will repeat alot of tags
      // we will bypass this with a factory function.

      Array.apply(null, this.json.content).map(n => {
        const type = new Map();
        const childType = new Map();
        // There can be instances where a <p> tag is not closed or is empty, thus
        // the content tag will not be added to the p node. This will result in
        // type errors unless we check that the key is present first.
        if (n.hasOwnProperty('content')) {
          // 'n' represents a HTML node that will bee a block item.
          // 'n.type' contains the node type, e.g. 'heading' or 'paragraph'.
          // 'n.content' contais node children and its attributes.
          // 'n.attr' contains the node spesific attributes
          type.set(n.type, n.content);

          // Render paragraph nodes
          if (type.has('paragraph')) {
            // Make sure we are working with paragraph objects
            const paragraph = type.get('paragraph');
            // Nodes can be nested inside paragraphs. Thus we need to iterate trough
            // the node to get to children nodes.
            if (paragraph.length > 1) {
              return createElement(
                'p',
                {
                  class: ['ProjectPost-paragraph']
                },
                [
                  paragraph.map(child => {
                    // Render image
                    if (child.type === 'image') {
                      return createElement('img', {
                        attrs: {
                          'data-url': child.attrs.src,
                          src: ''
                        },
                        class: ['ProjectPost-image'],
                        directives: [
                          {
                            name: 'lazyload',
                            value: child.attrs.src
                          }
                        ],
                        on: {
                          click(event) {
                            self.$emit('imageClicked', child.attrs.src);
                          }
                        }
                      });
                    }

                    // Style text with marks
                    if (child.hasOwnProperty('marks')) {
                      //Style text with bold
                      if (child.marks[0].type === 'bold') {
                        return createElement('strong', child.text);
                      }

                      // Style text with italic
                      if (child.marks[0].type === 'italic') {
                        return createElement('em', child.text);
                      }

                      // Style text with striketrough our underline
                      if (
                        child.marks[0].type === 'strike' ||
                        child.marks[0].type === 'underline'
                      ) {
                        let cssClass = '';

                        if (child.marks[0].type === 'strike') {
                          cssClass = 'u-line-through';
                        } else if (child.marks[0].type === 'underline') {
                          cssClass = 'u-underline';
                        }
                        return createElement(
                          'span',
                          {
                            class: [cssClass]
                          },
                          child.text
                        );
                      }

                      // Render link
                      if (child.marks[0].type === 'link') {
                        return createElement(
                          'a',
                          {
                            attrs: {
                              href: child.marks[0].attrs.href,
                              rel: 'noopener noreferrer nofollow',
                              target: '_blank'
                            },
                            class: ['ProjectPost-link']
                          },
                          child.text
                        );
                      }
                    }

                    // Render plain text without marks
                    if (!child.hasOwnProperty('marks')) {
                      // Vue exposes an internal method on it's prototype called _v that
                      // creates a plain text node. You can return the result of calling
                      // this method from a render function to render a plain text string
                      return this._v(child.text);
                    }
                  })
                ]
              );
            }
            // Paragraph type can be 'text' or 'image' because <img> tags are allowed inside
            // <p></p> tags. Unlike a heading which has it's own block <h2></h2>. Thus
            // we loop trough all <p></p> nodes and sort children as images and text.
            paragraph.map(child => {
              if (child.type === 'text') {
                childType.set(child.type, child.text);
              }
              if (child.type === 'image') {
                childType.set(child.type, child.attrs);
              }
            });
            // Collections that contain children of <p>
            const image = childType.has('image') ? childType.get('image') : [];
            const text = childType.has('text') ? childType.get('text') : [];

            // Render single paragraph
            if (childType.has('text')) {
              return createElement(
                'p',
                {
                  class: ['ProjectPost-paragraph']
                },
                text
              );
            }

            // Render single image
            if (childType.has('image')) {
              return createElement('img', {
                attrs: {
                  'data-url': image.src,
                  src: ''
                },
                class: ['ProjectPost-image'],
                directives: [
                  {
                    name: 'lazyload',
                    value: image.src
                  }
                ],
                on: {
                  click(event) {
                    self.$emit('imageClicked', image.src);
                  }
                }
              });
            }
          }

          // Render single heading
          if (type.has('heading')) {
            const heading = type.get('heading');
            return createElement(
              'h' + n.attrs.level,
              {
                class: ['ProjectPost-heading']
              },
              heading[0].text
            );
          }

          // Render list
          if (type.has('bullet_list') || type.has('ordered_list')) {
            let list = [];
            let tag = '';
            let cssClass = '';

            if (type.has('bullet_list')) {
              list = type.get('bullet_list');
              tag = 'ul';
              cssClass = 'ProjectPost-bulletListItem';
            } else if (type.has('ordered_list')) {
              list = type.get('ordered_list');
              tag = 'ol';
              cssClass = 'ProjectPost-numberedListItem';
            }

            return createElement(
              tag,
              {
                class: ['ProjectPost-list']
              },
              list.map(listItem => {
                listItem.content.map(child => {
                  if (child.type === 'paragraph') {
                    childType.set(child.content[0].type, child.content[0].text);
                  }
                });
                const text = childType.has('text') ? childType.get('text') : [];

                if (childType.has('text')) {
                  return createElement(
                    'li',
                    {
                      class: [cssClass]
                    },
                    text
                  );
                }
              })
            );
          }
        }
        // Pure block items such as the iFrame does not have children. Thus it does
        // not have the content tag. Instead it has attrs with attributes.
        if (n.hasOwnProperty('attrs')) {
          type.set(n.type, n.attrs);
          // Render iframes
          if (type.has('iframe')) {
            const iFrame = type.get('iframe');
            return createElement('iframe', {
              attrs: {
                src: 'https://www.youtube.com/embed/' + iFrame.src,
                width: 560,
                height: 315,
                frameborder: 0,
                allow:
                  'accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture',
                allowfullscreen: true
              }
            });
          }
        }
      })
    );
  }
};
</script>

<style>
.ProjectPost-paragraph {
  @apply u-mb-4;
}

.ProjectPost-heading {
  @apply u-mt-8;
}

.ProjectPost-image {
  @apply u-p-4;
  @apply u-cursor-pointer;
  @apply u-mb-4;
}
</style>
