<template>
  <section>
    <h3 class="u-mb-4">Project information</h3>
    <ul class="ProjectInfo-skillList u-list-reset">
      <li v-if="project.year">Year: <span>{{ project.year }}</span></li>
      <li v-if="project.duration">Duration: <span>{{ project.duration }}</span></li>
      <li v-if="project.role">Role: <span>{{ project.role }}</span></li>
      <li v-if="project.contractor">Contractor: <span>{{ project.contractor }}</span></li>
      <li v-if="project.teamSize">Team size: <span>{{ project.teamSize }}</span></li>
      <li v-if="project.website">
        Website: <span>
          <a 
            :href="project.website"
            target="_blank">
            {{ project.website }}
          </a>
        </span>
      </li>
      
    </ul>

    <div v-if="project.tasks">
      <h3 class="u-mb-4 u-mt-6">Work tasks</h3>
      <ul>
        <li 
          v-for="(task, index) in project.tasks"
          :key="index">
          {{ task }}
        </li>
      </ul>
    </div>
    
    <div v-if="project.methodology">
      <h3 class="u-mb-4 u-mt-6">Methodologies used</h3>
      <ul>
        <li 
          v-for="(methodology, index) in project.methodology"
          :key="index">
          {{ methodology }}
        </li>
      </ul>
    </div>

    <div v-if="project.tools">
      <h3 class="u-mb-4 u-mt-6">Tools used</h3>
      <ul>
        <li 
          v-for="(tool, index) in project.tools"
          :key="index">
          <p><span class="u-font-bold">Name: </span>{{ tool.name }}</p>
          <p class="u-p-2"><span class="u-font-bold">Role: </span>{{ tool. role }}</p>
        </li>
      </ul>
    </div>

    <div v-if="project.areasOfExpertise">
      <h3 class="u-mb-4 u-mt-6">Areas of expertise</h3>
      <div 
        v-for="(aoe, index) in project.areasOfExpertise"
        :key="index"
        class="u-inline">
        {{ aoe }}, 
      </div>
    </div>

    
  </section>
</template>

<script>
export default {
  name: 'ProjectInfo',
  props: {
    project: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.ProjectInfo-skillList li span {
  @apply u-font-bold;
}

.ProjectInfo-skillList li {
  @apply u-pl-4;
  @apply u-py-2;
}
</style>
