<template>
  <div 
    class="Projects-container"
    property="hasPart" 
    typeof="http://schema.org/CreativeWork">
    <nuxt-link 
      :to="projectLink(project.id)"
      class="u-no-underline">
      <div class="u-flex">
        <div 
          class="u-w-4/6 u-w-full"
          itemscope
          itemtype="http://schema.org/CreativeWork">
          <h2 class="u-mt-4"> 
            <span itemprop="name">{{ project.contractor }}</span> | {{ project.year }}
          </h2>
          <p class="u-mt-3 u-italic">
            <span itemprop="description">{{ project.shortDescription }}</span>
          </p>
          <p class="u-mt-6 u-font-medium">Duration: {{ project.duration }}, Team size: {{ project.teamSize }}</p>
          <p class="u-mt-1 u-font-medium">Name: {{ project.name }}</p>
          <app-project-skills 
            :skillset="project.skills" 
            :active-skills="project.type" />
        </div>
        <figure class="Projects-coverImage u-w-2/6">
          <img 
            :class="{tall: coverImageClass.includes('tall'), wide: coverImageClass.includes('wide')}"
            :src="project.coverImageUrl" 
            :alt="project.name + ' Cover Image'">
        </figure>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
import ProjectSkills from '~/components/Projects/Skills/ProjectSkills.vue';

export default {
  name: 'ProjectCard',
  components: {
    appProjectSkills: ProjectSkills
  },
  props: {
    project: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      coverImageClass: []
    };
  },
  created() {
    this.coverImageClass = !this.project.coverImageClass
      ? []
      : this.project.coverImageClass;
  },
  methods: {
    projectLink(id) {
      return '/Portfolio/projects/' + id;
    }
  }
};
</script>

<style scoped>
.Projects-container {
  @apply u-mt-6;
  @apply u-shadow;
  @apply u-p-8;
  @apply u-bg-grey-lightest;
  @apply u-cursor-pointer;
}

.Projects-coverImage {
  @apply u-w-full;
  @apply u-flex;
  @apply u-justify-center;
  @apply u-items-center;
  @apply u-mt-2;
}

.Projects-coverImage .tall {
  height: 450px;
}

.Projects-coverImage .wide {
  height: 250px;
}
</style>
