<template>
  <section class="u-left-container">
    <h1 class="u-page-header">Interaction Designer, Web developer, Blockhain consultant</h1>
    <div class="u-display-flex-row">
      <div class="u-w-2/3">
        <article class="u-page-article">
          <h2 class="u-mb-2">Special qualifications:</h2>
          <p>I am educated in Information Technology with a specialization in Interaction Design from Westerdals, where I graduated in topics like Interaction design, SCRUM, Web development, Consumer psychology, Programming, Databases, Digital technology, Information security, Design and IT Project Management. I am certified in Vue.js, Nuxt.js, Angular.js and Git and has taken courses in Customer psychology, Management and Communication.</p>
          <p>As a designer I'm passionate about putting user interests first, in a world where privacy and attention is constantly under pressure. I participated in the Moonwalk Innovation program which gave me a great understanding of business and how to map that into design and development. I learned design processes such as Value Proposition Design, Business Model Canvas, Jobs to be done and ideation processes that use constraints, convergence and divergence. I have worked on UX within the Blockchain space, which is rapidly evolving, non forgiving and disruptive.</p>
          <p>I have extensive experience from web development projects and I have been working as a freelance web developer alongside engagements in Blockchain start-up companies. I have an expert level understanding of Blockchains and have been consulting companies on implementation and use cases. </p>
          <p>I'm a curious soul and I invest a lot of time to continuously educate myself on new technologies, personal improvement, new design or development skills. I use my knowledge to see new opportunities and solutions and apply this to new concepts or business models. I constantly see potential for improvement and demand quality. I am creative and thrives on being a problem solver. I attack problems by being analytical, reflective and putting things into perspective. I am motivated by challenging tasks and the ability to master these. I learn new skills very quickly and I am good at finding practical solutions.</p>
        </article>

        <article class="u-page-article">
          <h2 class="u-mt-8">Work experience coming soon...</h2>
        </article>
      </div>

      <div class="u-w-1/3">

        <app-aside-list>
          <span slot="header">Core competencies</span>
          <ul slot="list">
            <li>Interaction Design</li>
            <li>Web development</li>
            <li>Blockchain</li>
            <li>Customer</li>
          </ul>
        </app-aside-list>

        <app-aside-list>
          <span slot="header">Certifications</span>
          <ul slot="list">
            <li>Vue.js</li>
            <li>Nuxt.js</li>
            <li>Angular.js</li>
            <li>Git</li>
          </ul>
        </app-aside-list>

        <app-aside-list>
          <span slot="header">Courses</span>
          <ul slot="list">
            <li>Virtual Reality</li>
            <li>Neural Networks</li>
            <li>Customer psycology: Motivation and Behavioral change</li>
            <li>Leadership</li>
            <li>Communication</li>
          </ul>
        </app-aside-list>

        <app-aside-list>
          <span slot="header">Education</span>
          <ul slot="list">
            <li>2013 - 2016 Interaction Design</li>
            <li>2005 -2006 3D Design and Animation</li>
          </ul>
        </app-aside-list>

        <app-aside-list>
          <span slot="header">Methodologies</span>
          <ul slot="list">
            <li>SCRUM</li>
            <li>Lean Startup</li>
            <li>Lean UX</li>
            <li>Value Proposition Design</li>
            <li>Jobs to be done</li>
            <li>Business Model Canvas</li>
            <li>Google Design Sprint</li>
            <li>Moonshots</li>
          </ul>
        </app-aside-list>

        <app-aside-list>
          <span slot="header">Technologies</span>
          <ul slot="list">
            <li>Javascript(ES5, ES6 og ES7)</li>
            <li>Vue.js</li>
            <li>Nuxt.js</li>
            <li>Angular.js</li>
            <li>Meteor.js</li>
            <li>Git</li>
            <li>Webpack</li>
            <li>CSS3</li>
            <li>PostCSS</li>
            <li>Functional CSS</li>
            <li>HTML5</li>
            <li>PHP</li>
            <li>C#</li>
            <li>Java</li>
            <li>Python</li>
            <li>Wordpress</li>
            <li>Node.js</li>
            <li>Debian</li>
            <li>SQL</li>
            <li>noSQL</li>
            <li>Firebase</li>
            <li>JSON</li>
            <li>HTTPS</li>
            <li>API</li>
            <li>Fuse</li>
            <li>Blockchain</li>
            <li>Virtual Reality</li>
            <li>Neural Networks</li>
          </ul>
        </app-aside-list>

        <app-aside-list>
          <span slot="header">Tools</span>
          <ul slot="list">
            <li>Adobe XD</li>
            <li>Figma</li>
            <li>Adobe Illustrator</li>
            <li>Adobe Photoshop</li>
            <li>Basecamp</li>
            <li>Jiras</li>
            <li>Monday</li>
            <li>Trello</li>
            <li>3D-Studio Max</li>
            <li>Adobe InDesign</li>
            <li>Sketch</li>
            <li>Balsamiq</li>
            <li>Axure</li>
            <li>Postman</li>
            <li>Fuestools</li>
          </ul>
        </app-aside-list>

        <app-aside-list>
          <span slot="header">Languages</span>
          <ul slot="list">
            <li>Norwegian - Native</li>
            <li>English - Fluent</li>
          </ul>
        </app-aside-list>

      </div>
    </div>
  </section>
</template>

<script>
import AsideList from '@/components/CV/AsideList.vue';

export default {
  name: 'Curriculum',
  components: {
    appAsideList: AsideList
  }
};
</script>

<style scoped>
p {
  @apply u-mb-4;
}
</style>
