<template>
  <button 
    :type="buttonType"
    :class="buttonClass"
    class="u-btn"
    @click.prevent="clicked">
    <slot />
  </button>
</template>

<script>
export default {
  name: 'AppPrimaryButton',
  props: {
    customEvent: {
      required: false,
      type: String,
      default: 'click'
    },
    buttonType: {
      required: false,
      type: String,
      default: 'Button'
    },
    buttonClass: {
      required: false,
      type: String,
      default: 'u-btn-primary'
    }
  },
  methods: {
    clicked(event) {
      this.$emit(this.customEvent, event.target.value);
    }
  }
};
</script>
