<template>
  <div class="">
    <label class="u-label">
      <slot />
      <div 
        v-if="value"
        class="u-switch"
        @click="switched(false)">
        <fa-icon 
          id="on"
          icon="toggle-on" /> On
      </div>
      <div 
        v-if="!value"
        class="u-switch"
        @click="switched(true)">
        <fa-icon
          id="off"
          icon="toggle-off" /> Off
      </div>
    </label>
  </div>
</template>

<script>
export default {
  name: 'AppSwitch',
  props: {
    value: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  methods: {
    switched(isOn) {
      this.isOn = !this.isOn;
      this.$emit('input', isOn);
    }
  }
};
</script>
