<template>
  <footer class="TheFooter-container">
    <h2 class="TheFooter-credits">
      ©2019 Pål Taule Brentebråten
    </h2>
    
    <div class="TheFooter-techStackInfo">
      <div class="TheFooter-techStackInfoHeading">
        <h3>
          Built with:
        </h3>
      </div>
      <div class="TheFooter-techStackInfoIcon">
        <img 
          src="~/assets/img/vue-logo.svg"
          alt="Vue logo">
      </div>
      <div class="TheFooter-techStackInfoIcon">
        <img 
          src="~/assets/img/nuxt-logo.png"
          alt="Vue logo">
      </div>
      <div class="TheFooter-techStackInfoIcon">
        <img 
          src="~/assets/img/firebase-logo.png"
          alt="Vue logo">
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'TheFooter'
};
</script>

<style scoped>
.TheFooter-container {
  @apply u-mt-8;
  @apply u-self-center;
  @apply u-justify-self-center;
}

.TheFooter-credits {
  @apply u-font-semibold;
  @apply u-text-blue-darker;
  @apply u-text-center;
}

.TheFooter-techStackInfo {
  @apply u-flex;
  @apply u-flex-row;
}

.TheFooter-techStackInfoHeading,
.TheFooter-techStackInfoIcon {
  @apply u-m-8;
  @apply u-self-center;
}

.TheFooter-techStackInfoIcon {
  @apply u-w-24;
}
</style>
