<template>
  <header class="TheHeader-container">
    <aside class="TheHeader-logo-container">
      <nuxt-link 
        to="/" 
        exact>
        <img 
          src="~/assets/img/logo.png"
          alt="logo"
          class="TheHeader-logo">
      </nuxt-link>
    </aside>
    <nav 
      class="TheHeader-mainNavigation"
      role="navigation">
      <ul class="TheHeader-mainNavigationList">
        <li class="TheHeader-mainNavigationListItem">
          <nuxt-link to="/Blog">Blog</nuxt-link>
        </li>
        <li 
          class="TheHeader-mainNavigationListItem"
          @mouseenter="portfolio = true"
          @mouseleave="portfolio = false">
          <nuxt-link 
            to="/Portfolio"
            exact>Portfolio</nuxt-link>
          <app-sub-menu v-if="portfolio">
            <li class="SubMenu-navigationItem">
              <nuxt-link 
                to="/Portfolio/projects">
                Projects
              </nuxt-link>
            </li>
            <li class="SubMenu-navigationItem">
              <nuxt-link to="/Portfolio/Presentations">Presentations</nuxt-link>
            </li>
          </app-sub-menu>
        </li>
        <li class="TheHeader-mainNavigationListItem">
          <nuxt-link to="/Concepts">Concepts</nuxt-link>
        </li>
        <li class="TheHeader-mainNavigationListItem">
          <nuxt-link to="/Patterns">Patterns</nuxt-link>
        </li>
        <li 
          class="TheHeader-mainNavigationListItem"
          @mouseenter="aboutMe = true"
          @mouseleave="aboutMe = false">
          <nuxt-link 
            to="/About"
            exact>About me</nuxt-link>
          <app-sub-menu v-if="aboutMe">
            <li class="SubMenu-navigationItem">
              <nuxt-link to="/About/Curriculum">CV</nuxt-link>
            </li>
            <li class="SubMenu-navigationItem">
              <nuxt-link to="/About/Timeline">Timeline</nuxt-link>
            </li>
            <li class="SubMenu-navigationItem">
              <nuxt-link to="/About/Contact">Contact me</nuxt-link>
            </li>
          </app-sub-menu>
        </li>
      </ul>
    </nav>
  </header>
</template>

<script>
import AppSubMenu from '~/components/UI/Navigation/AppSubMenu.vue';

export default {
  name: 'TheHeader',
  components: {
    AppSubMenu
  },
  data() {
    return {
      aboutMe: false,
      portfolio: false
    };
  }
};
</script>


<style scoped>
.TheHeader-container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.TheHeader-logo-container {
  grid-column: 2 / 3;
  @apply u-self-center;
}

.TheHeader-logo {
  @apply u-w-64;
}

.TheHeader-mainNavigation {
  grid-column: 3 / 4;
  @apply u-self-center;
  @apply u-justify-self-end;
}

.TheHeader-mainNavigationList {
  @apply u-list-reset;
  @apply u-inline-flex;
}

.TheHeader-mainNavigationListItem {
  @apply u-flex;
  @apply u-text-lg;
}

.TheHeader-mainNavigationListItem a {
  @apply u-p-4;
  @apply u-rounded-lg;
  @apply u-no-underline;
  @apply u-ml-2;
  @apply u-z-10;
}

a:hover {
  @apply u-bg-blue-lighter;
}

a.nuxt-link-active {
  @apply u-border-l;
  @apply u-border-grey-light;
  @apply u-bg-blue-lightest;
}
</style>
