<template>
  <section>
    <article 
      v-for="(journey, key) in getLoadedCustomerJourneys"
      :id="key"
      :key="key"
      class="Project-customerJourney u-mb-8 u-pb-16 u-bg-grey-light u-shadow-md">
      <header>
        <h3 class="u-text-center u-text-4xl u-pt-10">{{ name }}<span class="u-capitalize"> {{ key }}</span></h3>
      </header>
      <div class="u-flex u-flex-col u-items-center">
        <app-journey-step 
          v-for="(step, key, index) in journey"
          :key="key"
          :position="getPosition(index)"
          :image-src="step.imageSrc" 
          :image-alt-description="step.imageAlt">
          {{ step.text }}
        </app-journey-step>
      </div>
    </article>
  </section>
  
</template>

<script>
import { mapGetters } from 'vuex';
import JourneyStep from '~/components/Projects/CustomerJourney/JourneyStep.vue';

export default {
  name: 'CustomerJourney',
  components: {
    appJourneyStep: JourneyStep
  },
  props: {
    name: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      getLoadedCustomerJourneys: 'CustomerJourneys/getLoadedCustomerJourneys'
    })
  },
  methods: {
    getPosition(i) {
      if (i % 2 != 0) {
        return 'right';
      }
      return 'left';
    }
  }
};
</script>

<style scoped>
.Project-customerJourney {
  background-image: url('/projects/journey-background.png');
  background-repeat: repeat-y;
  background-position-x: right;
}
</style>
