<template>
  <div
    :class="{'JourneyStep--Right': position === 'right', 'JourneyStep--Left': position === 'left'}" 
    class="JourneyStep u-mt-8">
    <figure 
      :class="{'JourneyStep-Image--Left': position === 'left', 'JourneyStep-Image--Right': position === 'right'}" 
      class="">
      <img 
        :src="imageSrc" 
        :alt="imageAltDescription"
        class="u-w-40">
    </figure>
    <p
      :class="{'JourneyStep-Description--Left': position === 'right', 'JourneyStep-Description--Right': position === 'left' }" 
      class="u-p-6 u-text-lg u-text-blue-darkest">
      <slot />
    </p>
  </div>
</template>

<script>
export default {
  props: {
    imageSrc: {
      type: String,
      required: true
    },
    imageAltDescription: {
      type: String,
      required: true
    },
    position: {
      type: String,
      required: false,
      default: 'left'
    }
  }
};
</script>

<style scoped>
.JourneyStep {
  display: grid;
  width: 38rem;
}

.JourneyStep--Right {
  grid-template-columns: 2fr 1fr;
}

.JourneyStep--Left {
  grid-template-columns: 1fr 2fr;
}

.JourneyStep-Image--Left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.JourneyStep-Description--Left {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.JourneyStep-Image--Right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.JourneyStep-Description--Right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.JourneyStep-Description--Right,
.JourneyStep-Description--Left {
  align-self: center;
}
</style>
