<template>
  <nav class="TheSidebar-container">

    <div class="TheSidebar-wrapper">
      <app-sidebar-button
        :active="isActive" 
        name="Design" 
        @filter-projects="filterProjects">
        <svg-design />
      </app-sidebar-button>

      <app-sidebar-button 
        :active="isActive" 
        name="Innovation" 
        @filter-projects="filterProjects">
        <svg-innovation />
      </app-sidebar-button>

      <app-sidebar-button
        :active="isActive"  
        name="Blockchain" 
        @filter-projects="filterProjects">
        <svg-blockchain />
      </app-sidebar-button>
      
      <app-sidebar-button 
        :active="isActive" 
        name="Development"
        @filter-projects="filterProjects">
        <svg-development />
      </app-sidebar-button>

      <app-sidebar-button 
        :active="isActive" 
        name="All"
        @filter-projects="filterProjects">
        <svg-all />
      </app-sidebar-button>
    </div>
    
  </nav>
</template>

<script>
import AppSidebarButton from '~/components/UI/Navigation/AppSidebarButton.vue';
import SvgDesign from '~/components/UI/Svg/Design.vue';
import SvgInnovation from '~/components/UI/Svg/Innovation.vue';
import SvgDevelopment from '~/components/UI/Svg/Development.vue';
import SvgBlockchain from '~/components/UI/Svg/Blockchain.vue';
import SvgAll from '~/components/UI/Svg/All.vue';

export default {
  components: {
    AppSidebarButton,
    SvgDesign,
    SvgInnovation,
    SvgDevelopment,
    SvgBlockchain,
    SvgAll
  },
  data() {
    return {
      isActive: ''
    };
  },
  methods: {
    filterProjects(event) {
      this.isActive = event;
      this.$store.dispatch('Navigation/setActiveCategory', event);
    }
  }
};
</script>

<style scoped>
.TheSidebar-container {
  @apply u-justify-self-end;
  @apply u-mt-6;
}

.TheSidebar-wrapper {
  @apply u-fixed;
  left: 2rem;
}
</style>
