/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 */
@tailwind preflight;

body {
  @apply u-bg-grey-lightest;
  @apply u-text-blue-darker;
  @apply u-font-helvetica;
  @apply u-m-0;
}

a {
  @apply u-text-blue-darker;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;


/**
 * LAYOUTS
 */
.u-left-container {
  @apply u-p-8;
}

.u-centered-container {
  @apply u-p-8;
  @apply u-flex;
  @apply u-flex-col;
  @apply u-items-center;
}

.u-full-width-sm {
  @apply u-w-full;
  @apply u-max-w-md;
}

.u-full-width-md {
  @apply u-w-full;
  @apply u-max-w-md;
}

.u-full-width-lg {
  @apply u-w-full;
  @apply u-max-w-lg;
}

.u-full-width-xl {
  @apply u-w-full;
  @apply u-max-w-lg;
}

.u-full-width-2xl {
  @apply u-w-full;
  @apply u-max-w-lg;
}

.u-page-article {
  @apply u-p-4;
}

/**
 * FLEX
 */
.u-display-flex-col {
  @apply u-flex;
  @apply u-flex-col;
}

.u-display-flex-row {
  @apply u-flex;
  @apply u-flex-row;
}
.u-flex-col-full {
   @apply u-flex;
   @apply u-flex-col;
   @apply u-w-full;
 }

.u-flex-row-full {
  @apply u-flex;
  @apply u-flex-row;
  @apply u-w-full;
}

/**
 * TYPOGRAPHY
 */
.u-page-header {
  @apply u-p-4;
  @apply u-mb-4;
  @apply u-text-3xl;
}


/**
 * BUTTONS
 */
 .u-btn {
  @apply u-font-bold;
  @apply u-py-2;
  @apply u-px-4;
  @apply u-mx-2;
  @apply u-rounded;
}

.u-btn:focus {
  @apply u-outline-none;
}

.u-btn-primary {
  @apply u-bg-blue-darker;
  @apply u-text-white;
}

.u-btn-primary:hover {
  @apply u-bg-blue-dark;
}

.u-btn-cancel {
  @apply u-bg-red-light;
  @apply u-text-white;
}

.u-btn-cancel:hover {
  @apply u-bg-red-dark;
}

.u-switch {
  @apply u-text-2xl;
  @apply u-cursor-pointer;
  @apply u-p-4;
}


/**
 * FORMS
 */
 .u-form {
   @apply u-px-8;
   @apply u-pt-6;
   @apply u-pb-8;
   @apply u-mb-4;
   @apply u-shadow-md;
   @apply u-rounded;
   @apply u-bg-white;
}

.u-form-group {
  @apply u-flex;
  @apply u-flex-wrap;
  @apply u-p-4;
  @apply u-mx-3;
}

.u-form-group-sm {
  @apply u-max-w-sm;
}

.u-form-group-md {
  @apply u-max-w-md;
}

.u-form-group-heading {
  @apply u-p-4;
  @apply u-text-xl;
}

.u-form-group-item {
  @apply u-w-full;
  @apply u-px-3;
  @apply u-mb-6;
}

.u-form-validation-msg {
  @apply u-rounded-lg;
  @apply u-mt-4;
  @apply u-p-6;
}

.u-form-validation-msg.is-error {
  @apply u-text-red;
  @apply u-bg-red-lightest;
}

.u-form-validation-msg.is-sendt {
  @apply u-text-blue-darkest;
  @apply u-bg-green-lightest;
}

.u-form-validation-msg.is-pending {
  @apply u-text-blue-darkest;
  @apply u-bg-blue-lightest;
}


 /**
 * INPUTS
 */
 .u-input {
  @apply u-appearance-none;
  @apply u-block;
  @apply u-w-full;
  @apply u-bg-blue-lightest;
  @apply u-text-blue-darker;
  @apply u-border;
  @apply u-border-blue-darkest;
  @apply u-rounded;
  @apply u-leading-tight;
  @apply u-py-3;
  @apply u-px-4;
  @apply u-mt-3;
  @apply u-text-base;
}

.u-input:focus {
  @apply u-outline-none;
  @apply u-bg-white;
}

.u-input.has-error {
  @apply u-border-red;
}
.u-input.is-valid {
  @apply u-border-green-dark;
}

.u-label {
  @apply u-block;
  @apply u-uppercase;
  @apply u-tracking-wide;
  @apply u-text-blue-darker;
  @apply u-text-xs;
  @apply u-font-bold;
}

.u-input-validation-msg {
  @apply u-rounded-lg;
  @apply u-p-2;
  @apply u-text-blue-darkest;
}

.u-input-required {
  @apply u-text-red;
  @apply u-text-xs;
}

/**
 * NAVIGATION
 */
 .u-navigation-panel {
  @apply u-flex;
  @apply u-flex-row;
  @apply u-shadow-md;
  @apply u-rounded-t;
  @apply u-bg-blue-darker;
  @apply u-text-white;
}

.u-navigation-panel-tab.isActive, 
.u-navigation-panel-tab:hover {
  @apply u-bg-white;
  @apply u-text-blue-darker;
}

.u-navigation-panel-tab-name {
  @apply u-p-4;
  @apply u-cursor-pointer;
}

.u-sidebar-link {
  @apply u-text-lg;
  @apply u-p-4;
  @apply u-rounded-lg;
  @apply u-no-underline;
  @apply u-mb-2;
}

.u-sidebar-link.nuxt-link-active,
.u-sidebar-link:hover {
  @apply u-bg-blue-lighter;
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;
