<template>
  <section class="u-centered-container">
    <app-tabbed-navigation
      :tabs="tabs"
      :active-tab="activeTab"
      @setActiveTab="setActiveTab" />
    <div class="u-full-width-md">
      <form class="u-rounded-t-none u-full-width-md u-form">
        <div class="u-form-group">
          <div class="u-form-group-item">
            <app-controller-input 
              v-model.trim="email"
              :has-error="$v.email.$error"
              :is-valid="!$v.email.$invalid"
              type="email"
              placeholder="Username"
              @input="delayTouch($v.email)">
              E-mail
              <app-required-field v-if="!$v.email.required && $v.email.$dirty" />
            </app-controller-input>
            <app-input-validation
              v-if="!$v.email.alphaNum && $v.email.$error"
              input-name="e-mail"
              validation-type="email" />
          </div>
        </div>
        <div class="u-form-group u-last-form-group">
          <div class="u-form-group-item">
            <app-controller-input 
              v-model.trim="password"
              :has-error="$v.password.$error"
              :is-valid="!$v.password.$invalid"
              type="password"
              @input="delayTouch($v.password)">
              Password
              <app-required-field v-if="!$v.password.required && $v.password.$dirty" />
            </app-controller-input>
            <app-input-validation
              v-if="!$v.password.minLength && $v.password.$error"
              input-name="password"
              validation-type="minLength">
              <span slot="minLength">{{ $v.password.$params.minLength.min }}</span>
            </app-input-validation>
          </div>
        </div>
        <div class="u-flex u-justify-center">
          <app-button 
            custom-event="submitForm"
            button-type="submit" 
            @submitForm="onSubmit">{{ activeTab === 'Login' ? 'Login' : 'Sign up' }}
          </app-button>
        </div>
        <app-form-validation :validation-type="submitStatus">
          <p slot="ERROR">
            <span v-if="!loginError">
              <span v-if="$v.$anyError">Oh no! Please check that</span>
              <span 
                v-if="$v.email.$invalid"
                class="u-text-bold">"E-mail"</span>
              <span 
                v-if="$v.password.$invalid && $v.email.$invalid"
                class="u-text-bold">and</span>
              <span 
                v-if="$v.password.$invalid"
                class="u-text-bold">"Password"</span>
              <span v-if="$v.$anyError">is filled out correctly.</span>
              <span v-if="!$v.$anyError">Great! Now you can try again!</span>
            </span>

            <span v-if="loginError"> 
              <span v-if="loginErrorMessage === 'EMAIL_NOT_FOUND'">
                Ops, we could not find that email, please correct and try again.
              </span>
              <span v-if="loginErrorMessage === 'INVALID_PASSWORD'">
                Ops, it seems you entered the password incorrectly. Please correct and try again.
              </span>
              <span v-else>
                {{ loginErrorMessage }}
              </span>
            </span>
          </p>
        </app-form-validation>
      </form>
    </div>
    <nuxt-link to="/admin">To admin</nuxt-link>
    
  </section>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, minLength, email } from 'vuelidate/lib/validators';
import AppFormValidation from '@/components/UI/Forms/AppFormValidation.vue';
import AppInputValidation from '@/components/UI/Forms/AppInputValidation.vue';
import AppRequiredField from '@/components/UI/Forms/AppRequiredField.vue';

const touchMap = new WeakMap();

export default {
  name: 'Authentication',
  components: {
    AppFormValidation,
    AppInputValidation,
    AppRequiredField
  },
  mixins: [validationMixin],
  data() {
    return {
      email: '',
      password: '',
      productKey: '',
      submitStatus: false,
      loginError: false,
      loginErrorMessage: '',
      activeTab: 'Login',
      tabs: {
        login: {
          name: 'Login'
        },
        signup: {
          name: 'Sign up'
        }
      }
    };
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(6)
    }
  },
  methods: {
    setActiveTab(tab) {
      this.activeTab = tab;
    },
    async onSubmit() {
      // Validate the form
      this.$v.$touch();
      if (this.$v.$invalid) {
        // Display form errors to user
        this.submitStatus = 'ERROR';
      } else {
        // Authenticate with Firebase
        await this.$store.dispatch('Authentication/authenticateUser', {
          isLogin: this.activeTab === 'Login' ? true : false,
          email: this.email,
          password: this.password
        });

        // Catch any errors and show message to user
        const authResponse = this.$store.getters[
          'Authentication/getAuthResponse'
        ];

        if (authResponse.message) {
          if (authResponse.message.response.data.error.code === 400) {
            this.loginError = true;
            this.submitStatus = 'ERROR';
            this.loginErrorMessage =
              authResponse.message.response.data.error.message;
            return;
          }
        }
        this.loginError = false;
        this.submitStatus = false;

        // Reset the form
        this.email = '';
        this.password = '';
        this.$v.$reset();

        // Send the user to the admin area
        this.$router.push('/admin');
      }
    },
    delayTouch($v) {
      $v.$reset();
      if (touchMap.has($v)) {
        clearTimeout(touchMap.get($v));
      }
      touchMap.set($v, setTimeout($v.$touch, 1000));
    }
  }
};
</script>
