<template>
  <div class="AdminLayout">
    <the-admin-header />
    <the-admin-sidebar />
    <main class="Main-container">
      <nuxt />
    </main>
    <the-footer />
  </div>
</template>

<script>
import TheAdminHeader from '~/components/Admin/TheAdminHeader.vue';
import TheAdminSidebar from '~/components/Admin/TheAdminSidebar.vue';
import TheFooter from '~/components/TheFooter.vue';

export default {
  name: 'LayoutAdmin',
  components: {
    TheAdminHeader,
    TheAdminSidebar,
    TheFooter
  }
};
</script>

<style scoped>
.AdminLayout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 150px 1fr 300px;
}

.TheAdminHeader-container {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.Main-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  @apply u-rounded;
  @apply u-shadow;
  @apply u-bg-grey-lighter;
}

.TheAdminSidebar-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.TheFooter-container {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
</style>
