<template>
  <div class="DefaultLayout">
    <the-header />
    <the-sidebar />
    <main class="Main-container">
      <nuxt />
    </main>
    <the-footer />
  </div>
</template>

<script>
import TheHeader from '~/components/TheHeader.vue';
import TheFooter from '~/components/TheFooter.vue';
import TheSidebar from '~/components/Navigation/TheSidebar.vue';

export default {
  name: 'LayoutProjects',
  components: {
    TheHeader,
    TheFooter,
    TheSidebar
  }
};
</script>

<style scoped>
.DefaultLayout {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 150px 1fr 300px;
}

.TheHeader-container {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.Main-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  @apply u-rounded;
  @apply u-shadow;
  @apply u-bg-grey-lighter;
}

.TheSidebar-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.TheFooter-container {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}
</style>
