<template>
  <section class="u-left-container">
    <h1 class="u-page-header">About me</h1>
    <img 
      src="~/assets/img/portrett-bilde.jpg"
      alt="Portrait"
      class="u-h-32 u-m-8 u-rounded-lg u-float-left">
    <p class="u-p-2">
      I have a background in Information technology and Interaction design. I'm passionate about putting humans first, in a world where privacy and attention is attacked by aggressive business model. What if we optimized our products to put our users interests first?
    </p>
    <p class="u-p-2">
      I'm a curious soul and I spend way too much time reading up on new technologies. My main concern is how they eventually will converge in unforeseen ways and how they will impact our society. One of my favourite technologies is Blockchain. I have been involved in various Blockchain startups and projects since I first read about it in a Wired article 3 years ago. My passion for Blockchain led me into the world of startups and product management. I participated the Moonwalk innovation program twice, I was employed in Blockchain startups and even founded some startups on my own. The knowledge I gained, the people I met, the hard days and the good days, it was all worth it and I would not even blink to do it all over again.
    </p>
    <p class="u-p-2">
      Today I am a designer that:
    </p>
    <ul>
      <li>puts human values first</li>
      <li>has a clear understanding of new technologies works and how they may impact our society</li>
      <li>has a great understanding of business and how to map new technology to new business models</li>
      <li>has an entrepreneurial sprit and a curious mind</li>
    </ul>
  </section>
</template>
