<template>
  <div class="TheAdminHeader-container">
    <the-header />
    <div class="u-flex u-flex-row u-items-center">
      <p class="u-">{{ getActiveUser }}</p>
      <div class="u-p-8">
        <app-button
          class="u-btn"
          custom-event="logout"
          @logout="logout">Logout</app-button>
      </div>    
    </div>
  </div>
  
</template>

<script>
import TheHeader from '@/components/TheHeader.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'TheAdminHeader',
  components: {
    TheHeader
  },
  computed: {
    ...mapGetters({
      getActiveUser: 'Authentication/getActiveUser'
    })
  },
  methods: {
    logout() {
      this.$store.dispatch('Authentication/logout');
      this.$router.push('/admin/auth');
    }
  }
};
</script>

<style scoped>
.TheAdminHeader-container {
  @apply u-flex;
  @apply u-flex-row;
}
</style>
