<template>
  <nav class="TheAdminSidebar-container u-centered-container">
    <h2 class="u-text-xl u-page-header">Pick a task</h2>
    <nuxt-link 
      to="/admin/projects/new-project"
      class="u-sidebar-link">Create new project</nuxt-link>
    <nuxt-link
      to="/admin/projects"
      class="u-sidebar-link"
      exact>Edit projects</nuxt-link>
    <nuxt-link 
      to="/admin/customerjourneys"
      class="u-sidebar-link">Edit customer journeys</nuxt-link>
    <nuxt-link 
      to="/admin"
      class="u-sidebar-link"
      exact>Go to admin panel</nuxt-link>
  </nav>
</template>

<script>
export default {
  name: 'TheAdminSidebar'
};
</script>

<style>
.THeAdminSidebar-container {
  @apply u-justify-self-end;
  @apply u-mt-6;
}
</style>
