<template>
  <section class="u-left-container">
    <h1 class="u-page-header">
      Welcome to Taule UX
    </h1>
    <article class="u-page-article">
      <h2>Career center</h2>
      <p>I am a simple guy with 3 professions; Interaction design, Frontend developer and Blockchain consultant. This page will be my future career center where you will find:</p>
      <ul class="u-mt-2">
        <li>blogs</li>
        <li>presentations</li>
        <li>projects I have worked on</li>
        <li>concepts I have developed </li>
        <li>concepts I am developing</li>
        <li>design and web patterns</li>
        <li>my resume</li>
        <li>my history</li>
        <li>personal information</li>
        <li>contact details</li>
      </ul>
      <p class="u-mt-4">This website is obviously under construction so please check back for updates. New content will be added regulary.</p> 
      <h3 class="u-mt-4">Limitations</h3>
      <p>This page is not yet responive, it supports desktop only. Nor is it tested for accessability. There is no consent to cookie form yet because I ate all the cookies myself and there is none left for you(nom nom). And yeah, I spent exactly 0 hours on design, what you see is purely functional. The eye candy will come whenever everything else is ready.</p>
      <p>For now though, feel free to check out my <nuxt-link to="/projects/">projects page</nuxt-link>, or my <nuxt-link to="/curriculum/">CV page</nuxt-link> and the featured projects below.</p>
    </article>
    <article class="u-page-article">
      <h3 class="u-mt-4">Currently working on...</h3>
      <p>This portfolio page is tailored and built from scratch using the technologies you can see in the footer. Thus alot of effort and time is going into building the CMS system on the backend which you cannot see. The source code can be found on <a href="https://gitlab.com/paalt/portfolio">Gitlab</a></p>
      <p>Right now I am focusing on the CMS system and a rich content editor. With that in place, content creation should become faster.</p>
    </article>
    <article class="u-page-article">
      <h2 class="u-mt-4">Featured projects:</h2>
      <app-featured-projects :project="featuredDesign" />
      <h3 class="u-mt-8">Innovation</h3>
      <p>Coming soon...</p>
      <h3 class="u-mt-8">Development</h3>
      <p>Coming soon...</p>
      <h3 class="u-mt-8">Blockchain</h3>
      <p>Coming soon...</p>
    </article>
  </section>
</template>

<script>
import FeaturedProjects from '~/components/Projects/FeaturedProjects/FeaturedProjects.vue';

export default {
  name: 'Home',
  components: {
    appFeaturedProjects: FeaturedProjects
  },
  async asyncData(context) {
    const featuredDesign = await context.app.$axios.get(
      '/featured/design.json'
    );

    context.app.store.dispatch(
      'FeaturedProjects/setFeaturedDesign',
      featuredDesign.data.id
    );
    const designProjectData = await context.app.$axios.get(
      '/projects/' +
        context.app.store.getters['FeaturedProjects/getFeaturedDesign'] +
        '.json'
    );

    return {
      featuredDesign: designProjectData.data
    };
  }
};
</script>
