<template>
  <aside class="Aside">
    <h3 class="Aside-heading">
      <slot name="header" />
    </h3>
    <slot name="list" />
  </aside>
</template>

<script>
export default {
  name: 'AsideList'
};
</script>

<style scoped>
.Aside {
  @apply u-p-4;
}

.Aside-heading {
  @apply u-p-2;
  @apply u-mb-2;
  @apply u-text-xl;
}
</style>
