<template>
  <section class="u-centered-container">
    <h1 class="u-self-start u-page-header">Edit project {{ loadedProject.id }}</h1>
    <app-tabbed-navigation 
      :tabs="tabs"
      :active-tab="activeTab"
      :tab-styles="{textSize: 'sm', panelWidth: 'lg'}"
      @setActiveTab="setActiveTab" />
    
    <form class="u-full-width-lg u-form">
      
      <div v-if="activeTab === 'Info'">
        <h3 class="u-form-group-heading">Project info</h3>
        <div class="u-form-group u-form-group-sm">
          <div class="u-form-group-item">
            <app-controller-input
              v-model="loadedProject.name"
              type="text">
              Name
            </app-controller-input>
          </div>
          <div class="u-form-group-item">
            <app-controller-input
              v-model="loadedProject.duration"
              type="text">
              Duration
            </app-controller-input>
          </div>
          <div class="u-form-group-item">
            <app-controller-input
              v-model="loadedProject.role"
              type="text">
              Role
            </app-controller-input>
          </div>
          <div class="u-form-group-item">
            <app-controller-input
              v-model="loadedProject.contractor"
              type="text">
              Contractor
            </app-controller-input>
          </div>
          <div class="u-form-group-item">
            <app-controller-input
              v-model="loadedProject.teamSize"
              type="number">
              Team Size
            </app-controller-input>
          </div>
          <div class="u-form-group-item">
            <app-controller-input
              v-model="loadedProject.website"
              type="url">
              Website
            </app-controller-input>
          </div>
          <div class="u-form-group-item">
            <app-controller-input
              v-model="loadedProject.year"
              type="text">
              Year
            </app-controller-input>
          </div>
          <div class="u-form-group-item">
            <app-controller-input
              v-model="loadedProject.coverImageUrl"
              type="url">
              Cover Image URL
            </app-controller-input>
          </div>
        </div>

        <h3 class="u-form-group-heading">Image properties:</h3>
        <div class="u-form-group u-form-group-md u-display-flex-row">
          <div class="u-w-1/4 u-form-group-item">
            <app-checkbox-input
              v-model="loadedProject.coverImageClass"
              value="tall">
              Tall
            </app-checkbox-input>
          </div>
          <div class="u-w-1/4 u-form-group-item">
            <app-checkbox-input
              v-model="loadedProject.coverImageClass"
              value="wide">
              Wide
            </app-checkbox-input>
          </div>
        </div>

        <h3 class="u-form-group-heading">Project features</h3>
        <div class="u-form-group u-form-group-sm u-display-flex-row">
          <div class="u-w-1/2 u-form-group-item">
            <app-switch 
              :value="loadedProject.loadCustomerJourneys"
              @input="loadedProject.loadCustomerJourneys = !loadedProject.loadCustomerJourneys">Use Customer journeys</app-switch>
          </div>
        </div>
      </div>

      <div v-if="activeTab === 'Featured skills'">
        <h3 class="u-form-group-heading">Project type</h3>
        <div class="u-form-group u-form-group-md u-display-flex-row">
          <div class="u-w-1/4 u-form-group-item">
            <app-checkbox-input
              v-model="loadedProject.type"
              value="Design">
              Design
            </app-checkbox-input>
          </div>
          <div class="u-w-1/4 u-form-group-item">
            <app-checkbox-input
              v-model="loadedProject.type"
              value="Innovation">
              Innovation
            </app-checkbox-input>
          </div>
          <div class="u-w-1/4 u-form-group-item">
            <app-checkbox-input
              v-model="loadedProject.type"
              value="Blockchain">
              Blockchain
            </app-checkbox-input>
          </div>
          <div class="u-w-1/4 u-form-group-item">
            <app-checkbox-input
              v-model="loadedProject.type"
              value="Development">
              Development
            </app-checkbox-input>
          </div>
        </div>

        <h3 class="u-form-group-heading">Project featured skills</h3>
        <app-list-input
          v-if="loadedProject.type.includes('Design')"
          :list="skills.design"
          list-name="Design"
          list-type="skill"
          class="EditProject-featuredSkillsBox u-form-group-sm"
          @listUpdated="updateList($event)">
          Design skills
        </app-list-input>

        <app-list-input
          v-if="loadedProject.type.includes('Innovation')"
          :list="skills.innovation"
          list-name="Innovation"
          list-type="skill"
          class="EditProject-featuredSkillsBox u-form-group-sm"
          @listUpdated="updateList($event)">
          Innovation skills
        </app-list-input>

        <app-list-input
          v-if="loadedProject.type.includes('Blockchain')"
          :list="skills.blockchain"
          list-name="Blockchain"
          list-type="skill"
          class="EditProject-featuredSkillsBox u-form-group-sm"
          @listUpdated="updateList($event)">
          Blockchain skills
        </app-list-input>

        <app-list-input
          v-if="loadedProject.type.includes('Development')"
          :list="skills.development"
          list-name="Development"
          list-type="skill"
          class="EditProject-featuredSkillsBox u-form-group-sm"
          @listUpdated="updateList($event)">
          Development skills
        </app-list-input>
      </div>

      <div v-if="activeTab === 'Areas of expertise'">
        <app-list-input
          :list="areasOfExpertise"
          list-name="Area of Expertise"
          list-type="default"
          class="u-form-group-sm"
          @listUpdated="updateList($event)">
          Areas of expertise
        </app-list-input>
      </div>

      <div v-if="activeTab === 'Methodology'">
        <app-list-input
          :list="methodology"
          list-name="Methodology"
          list-type="default"
          class="u-form-group-sm"
          @listUpdated="updateList($event)">
          Methodology
        </app-list-input>
      </div>

      <div v-if="activeTab === 'Tasks'">
        <app-list-input
          :list="tasks"
          list-name="Tasks"
          list-type="default"
          class="u-form-group-sm"
          @listUpdated="updateList($event)">
          Tasks
        </app-list-input>
      </div>

      <div v-if="activeTab === 'Tools'">
        <app-list-input
          :list="tools"
          :map-list-keys="[{name: '', role: ''}]"
          list-name="Tools"
          list-type="mapList"
          class="u-form-group-md"
          @listUpdated="updateList($event)">
          Tools
        </app-list-input>
      </div>

      <div v-if="activeTab === 'Details'">
        <h3 class="u-form-group-heading">Project details</h3>
        <div class="u-form-group">
          <div class="u-form-group-item u-max-w-sm">
            <app-controller-input
              v-model="loadedProject.shortDescription">
              Short Description
            </app-controller-input>
          </div>
          <div class="u-form-group-item">
            <app-text-editor 
              :init-text="loadedProject.projectPost" 
              text-id="Project post" 
              @textEditorInput="updateHtml($event)" />
          </div>
        </div>
      </div>

      <div class="u-text-center">
        <app-button 
          custom-event="save"
          button-type="submit"
          @save="saveChanges">Save</app-button>
        <app-button 
          custom-event="goBack"
          button-type="submit"
          @goBack="$router.push('/admin/projects/')">Back</app-button>
      </div>

      <app-form-validation :validation-type="saveStatus">
        <p slot="OK">
          Project was updated!
        </p>
        <p slot="PENDING">
          Please wait while the project is updated!
        </p>
        <p slot="ERROR">
          Oh snap! Check console log
        </p>
      </app-form-validation>

    </form>
  </section>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, minLength, email } from 'vuelidate/lib/validators';
import AppFormValidation from '@/components/UI/Forms/AppFormValidation.vue';
import AppInputValidation from '@/components/UI/Forms/AppInputValidation.vue';
import AppTextEditor from '@/components/UI/Forms/AppTextEditor.vue';
import AppListInput from '@/components/UI/Forms/AppListInput.vue';

export default {
  name: 'EditProject',
  middleware: ['check-auth', 'auth'],
  layout: 'admin',
  components: {
    AppFormValidation,
    AppInputValidation,
    AppTextEditor,
    AppListInput
  },
  validation: {},
  data() {
    return {
      saveStatus: false,
      tabs: {
        projectInfo: {
          name: 'Info'
        },
        ProjectFeaturedSkills: {
          name: 'Featured skills'
        },
        AreasOfExpertise: {
          name: 'Areas of expertise'
        },
        Methodology: {
          name: 'Methodology'
        },
        Tasks: {
          name: 'Tasks'
        },
        Tools: {
          name: 'Tools'
        },
        ProjectDetails: {
          name: 'Details'
        }
      },
      activeTab: 'Info'
    };
  },
  methods: {
    async saveChanges() {
      this.saveStatus = 'PENDING';
      const UPDATE = await this.$axios
        .put('/projects/' + this.$route.params.name + '.json', {
          areasOfExpertise: this.areasOfExpertise,
          contractor: this.loadedProject.contractor,
          coverImageClass: this.loadedProject.coverImageClass,
          coverImageUrl: this.loadedProject.coverImageUrl,
          duration: this.loadedProject.duration,
          id: this.loadedProject.id,
          loadCustomerJourneys: this.loadedProject.loadCustomerJourneys,
          methodology: this.methodology,
          name: this.loadedProject.name,
          projectJSON: this.loadedProject.projectJSON,
          projectPost: this.loadedProject.projectPost,
          role: this.loadedProject.role,
          shortDescription: this.loadedProject.shortDescription,
          skills: {
            design: this.skills.design,
            innovation: this.skills.innovation,
            blockchain: this.skills.blockchain,
            development: this.skills.development
          },
          tasks: this.tasks,
          teamSize: this.loadedProject.teamSize,
          tools: this.tools,
          type: this.loadedProject.type,
          website: this.loadedProject.website,
          year: this.loadedProject.year
        })
        .catch(err => {
          this.saveStatus = 'ERROR';
          console.log(err);
        });
      this.saveStatus = 'OK';
    },
    updateHtml(payload) {
      this.loadedProject.projectPost = payload.html;
      this.loadedProject.projectJSON = payload.json;
    },
    updateList(event) {
      switch (event.listName) {
        case 'Area of expertise':
          this.areasOfExpertise = event.list;
          break;

        case 'Methodology':
          this.methodology = event.list;
          break;

        case 'Tasks':
          this.tasks = event.list;
          break;

        case 'Tools':
          this.tools = event.list;
          break;

        case 'Design':
          this.skills.design = event.list;
          break;

        case 'Innovation':
          this.skills.innovation = event.list;
          break;

        case 'Blockchain':
          this.skills.blockchain = event.list;
          break;

        case 'Development':
          this.skills.development = event.list;
          break;
      }
    },
    setActiveTab(tab) {
      this.activeTab = tab;
    }
  },
  async asyncData(context) {
    if (context.payload) {
      return {
        loadedProject: context.payload.projectData
      };
    }
    const PROJECT = await context.app.$axios.get(
      '/projects/' + context.params.name + '.json'
    );

    

    context.app.store.dispatch('Projects/setLoadedProject', PROJECT.data);
    // Init arrays, return empty array if they don't exist yet.
    const SKILLS = {};
    SKILLS.development = !PROJECT.data.skills.development
      ? []
      : PROJECT.data.skills.development;
    SKILLS.design = !PROJECT.data.skills.design
      ? []
      : PROJECT.data.skills.design;
    SKILLS.innovation = !PROJECT.data.skills.innovation
      ? []
      : PROJECT.data.skills.innovation;
    SKILLS.blockchain = !PROJECT.data.skills.blockchain
      ? []
      : PROJECT.data.skills.blockchain;

    const AREASOFEXPERTISE = !PROJECT.data.areasOfExpertise
      ? []
      : PROJECT.data.areasOfExpertise;

    const METHODOLOGY = !PROJECT.data.methodology
      ? []
      : PROJECT.data.methodology;

    const TASKS = !PROJECT.data.tasks ? [] : PROJECT.data.tasks;

    const TOOLS = !PROJECT.data.tools ? [] : PROJECT.data.tools;

    return {
      loadedProject: PROJECT.data,
      skills: SKILLS,
      areasOfExpertise: AREASOFEXPERTISE,
      methodology: METHODOLOGY,
      tasks: TASKS,
      tools: TOOLS
    };
  }
};
</script>

<style scoped>
.EditProject-featuredSkillsBox:last-of-type {
  @apply u-mb-8;
}
</style>
