<template>
  <form
    class="u-display-flex-row" 
    @submit.prevent="onSubmit">
    <input 
      ref="urlInput"
      v-model="url"
      type="text" 
      placeholder="paste link here"
      class="u-w-48 u-m-0 u-input"
      @keydown.esc="$emit('hideMenu', $event.target.value)">
    <button 
      v-if="inputType === 'linkInput'"
      type="button"
      class="u-btn" 
      @click="$emit('setLinkUrl', $event.target.value)">
      <fa-icon icon="unlink" />
    </button>
  </form>
</template>

<script>
export default {
  name: 'UrlMenuInput',
  props: {
    inputType: {
      type: String,
      required: false,
      default: 'linkInput'
    }
  },
  data() {
    return {
      url: '',
      videoUrl: ''
    };
  },
  computed: {
    youtubeID() {
      return this.youtubeParser(this.videoUrl);
    }
  },
  methods: {
    onSubmit() {
      switch (this.inputType) {
        case 'linkInput':
          this.$emit('setUrl', this.url);
          this.url = '';
          break;

        case 'videoInput':
          this.videoUrl = this.url;
          this.url = this.youtubeID;
          this.$emit('setUrl', this.url);
          this.url = '';
          this.videoUrl = '';
          break;

        case 'imageInput':
          this.$emit('setUrl', this.url);
          this.url = '';
      }
    },
    focus() {
      this.$refs.urlInput.focus();
    },
    youtubeParser(url) {
      const regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
      const match = url.match(regExp);
      return match && match[7].length === 11 ? match[7] : false;
    }
  }
};
</script>

<style>
</style>
