<template>
  <div>
    <label class="u-label">
      <slot />
      <input
        v-if="controlType === 'input'"
        :value="value"
        v-bind="$attrs"
        :class="{ 'has-error': hasError, 'is-valid': isValid }"
        class="u-input"
        @input="$emit('input', $event.target.value)"
        @blur="$emit('blur', $event.target.value)">
      <textarea
        v-if="controlType === 'textarea'"
        :value="value"
        :class="{ 'has-error': hasError, 'is-valid': isValid }"
        class="u-input"
        rows="10"
        @input="$emit('input', $event.target.value)"
        @blur="$emit('blur', $event.target.value)"
        @keydown="$emit('keydown', $event.target.value)" />
    </label>
  </div>
  
</template>

<script>
export default {
  name: 'AppControllerInput',
  props: {
    controlType: {
      type: String,
      required: false,
      default: 'input'
    },
    value: {
      type: String,
      required: false,
      default: ''
    },
    hasError: {
      type: Boolean,
      required: false,
      default: false
    },
    isValid: {
      type: Boolean,
      required: false,
      default: false
    }
  }
};
</script>
