<template>
  <div>
    <label class="u-display-flex-row u-p-2">
      <input
        :value="value"
        :checked="shouldBeChecked"
        type="checkbox"
        class="u-invisible"
        @change="updateInput">
      <fa-icon 
        v-if="shouldBeChecked"
        icon="check-square"
        class="u-text-2xl" />
      <fa-icon
        v-if="!shouldBeChecked" 
        :icon="['far', 'square']"
        class="u-text-2xl" />
      <span class="u-label u-p-2"><slot /></span>
    </label>
  </div>
</template>

<script>
// Credits to Smashing Magazine for checkbox recipe: https://www.smashingmagazine.com/2017/08/creating-custom-inputs-vue-js/

export default {
  name: 'AppCheckboxInput',
  model: {
    prop: 'modelValue',
    event: 'change'
  },
  props: {
    value: {
      type: String,
      required: true
    },
    modelValue: {
      type: [Boolean, Array],
      default: false
    },
    trueValue: {
      type: Boolean,
      default: true
    },
    falseValue: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    shouldBeChecked() {
      if (this.modelValue instanceof Array) {
        return this.modelValue.includes(this.value);
      }
      return this.modelValue === this.trueValue;
    }
  },
  methods: {
    updateInput(event) {
      let isChecked = event.target.checked;

      if (this.modelValue instanceof Array) {
        let newValue = [...this.modelValue];
        if (isChecked) {
          newValue.push(this.value);
        } else {
          newValue.splice(newValue.indexOf(this.value), 1);
        }
        this.$emit('change', newValue);
      } else {
        this.$emit('change', isChecked ? this.trueValue : this.falseValue);
      }
    }
  }
};
</script>

<style>
</style>
