<template>
  <div
    v-if="validationType"
    :class="{'is-error': validationType === 'ERROR', 'is-pending': validationType === 'PENDING', 'is-sendt': validationType === 'OK'}"
    class="u-form-validation-msg">
    <slot 
      v-if="validationType === 'OK'"
      name="OK" />
    <slot 
      v-if="validationType === 'PENDING'"
      name="PENDING" />
    <slot 
      v-if="validationType === 'ERROR'"
      name="ERROR" />
  </div>
</template>

<script>
export default {
  name: 'AppFormValidation',
  props: {
    validationType: {
      type: [String, Boolean],
      required: true
    }
  }
};
</script>
