<template>
  <div 
    class="u-input-validation-msg">
    <p v-if="validationType === 'minLength'">Please submit a {{ inputName }} with at least <slot name="minLength" /> letters.</p>
    <p v-if="validationType === 'email'">Please submit a valid {{ inputName }} adress in the following format: yourname@serverhost.com</p>
  </div>
</template>

<script>
export default {
  name: 'AppInputValidation',
  props: {
    inputName: {
      type: String,
      required: true
    },
    validationType: {
      type: String,
      required: true
    }
  }
};
</script>
