<template>
  <section>
    
    <h3 class="u-form-group-heading"> <slot /></h3>
    
    <div 
      :class="{
        'u-bg-purple-light': listName === 'Design',
        'u-bg-orange-light': listName === 'Innovation',
        'u-bg-blue-light': listName === 'Blockchain',
        'u-bg-yellow-light': listName === 'Development'
      }"
      class="u-form-group u-bg-white">
      
      <div 
        v-for="(item, index) in list"
        :key="index"
        :class="{
          'u-display-flex-row': listType !== 'skill',
          'u-items-end': listType !== 'skill',
        }"
        class="u-form-group-item">
        
        <div 
          v-if="listType !== 'mapList'"
          :class="{'u-w-2/3': listType === 'default'}">
          <app-controller-input
            v-model="list[index]">
            {{ listName }} <span v-if="listType === 'skill'">skill </span>#{{ index + 1 }}
          </app-controller-input>
        </div>

        <div 
          v-if="listType === 'mapList'"
          class="u-w-2/3 u-display-flex-row">
          
          <app-controller-input
            v-for="(listObject, key) in list[index]"
            :key="key"
            v-model="list[index][key]"
            class="u-ml-4">
            {{ key }}
          </app-controller-input>
        
        </div>
        
        <div
          v-if="listType !== 'skill'" 
          class="ListInput-actionButton u-w-1/3">
          
          <app-button
            @click="removeItem(index)">
            Remove
          </app-button>

        </div>

      </div>

      <div 
        v-if="list.length < 3 && listType === 'skill' || listType !== 'skill'"
        class="u-display-flex-row u-form-group-item u-items-end">
        
        <div 
          v-if="listType !== 'mapList'"
          class="u-w-2/3">
          
          <app-controller-input
            v-model="newListItem">
            {{ listName }} #{{ list.length + 1 }}
          </app-controller-input>
        
        </div>

        <div
          v-if="listType === 'mapList'"
          class="u-w-2/3 u-display-flex-row">

          <app-controller-input
            v-model="newMapListItemLeft"
            class="u-ml-4">
            {{ getMapListKeys[0] }}
          </app-controller-input>

          <app-controller-input
            v-model="newMapListItemRight"
            class="u-ml-4">
            {{ getMapListKeys[1] }}
          </app-controller-input>

        </div>

        <div class="ListInput-actionButton u-w-1/3">
          
          <app-button
            v-if="listType !== 'mapList'"
            @click="addItem(newListItem)">
            Add
          </app-button>

          <app-button
            v-if="listType === 'mapList'"
            @click="addItems(newMapListItemLeft, newMapListItemRight)">
            Add
          </app-button>
        
        </div>
      
      </div>
    
    </div>
  
  </section>
</template>

<script>
export default {
  name: 'AppListInput',
  props: {
    list: {
      type: Array,
      required: true,
      default: null
    },
    listName: {
      type: String,
      required: true
    },
    listType: {
      type: String,
      required: false,
      default: 'default'
    },
    mapListKeys: {
      type: Array,
      required: false,
      default: () => [
        {
          name: '',
          role: ''
        }
      ]
    }
  },
  data() {
    return {
      newListItem: '',
      newMapListItemLeft: '',
      newMapListItemRight: ''
    };
  },
  computed: {
    getMapListKeys() {
      if (this.list.length === 0) {
        return Object.keys(this.mapListKeys[0]);
      } else {
        return Object.keys(this.list[0]);
      }
    }
  },
  methods: {
    addItem(item) {
      this.list.push(item);
      this.newListItem = '';
      this.$emit('listUpdated', this.list, this.listName);
    },
    addItems(itemLeft, itemRight) {
      const keys = Object.keys(this.mapListKeys[0]);
      this.list.push({ [keys[0]]: itemLeft, [keys[1]]: itemRight });
      this.newMapListItemLeft = '';
      this.newMapListItemRight = '';
      this.$emit('listUpdated', this.list, this.listName);
    },
    removeItem(index) {
      this.list.splice(index, 1);
      this.$emit('listUpdated', this.list, this.listName);
    }
  }
};
</script>

<style scoped>
.ListInput-actionButton {
  @apply u-mb-1;
  @apply u-ml-4;
  margin-bottom: 0.325rem;
}
</style>
