<template>
  <div class="TextEditor">
    <h3 class="u-capitalize u-py-4">{{ textId }}</h3>
    <editor-menu-bubble :editor="editor">
      <div
        slot-scope="{ commands, isActive, getMarkAttrs, menu }"
        :class="{ 'is-active': menu.isActive }"
        :style="`left: ${menu.left}px; bottom: ${menu.bottom}px;`"
        class="TextEditor-menuBubble">

        <div>
          <url-menu-input
            v-if="linkMenuIsActive"
            ref="linkUrlInput"
            input-type="linkInput"
            @setUrl="setLinkUrl(commands.link, $event)"
            @hideMenu="hideLinkMenu"
            @setLinkUrl="setLinkUrl(commands.link, null)" />

          <url-menu-input
            v-if="videoMenuIsActive"
            ref="videoUrlInput"
            input-type="videoInput"
            @setUrl="setVideoUrl(commands.iframe, $event)"
            @hideMenu="hideVideoMenu" />

          <url-menu-input
            v-if="imageMenuIsActive"
            ref="imageUrlInput"
            input-type="imageInput"
            @setUrl="setImageUrl(commands.image, $event)"
            @hideMenu="hideImageMenu" />


          <button
            :class="{ 'is-active': isActive.bold() }"
            class="TextEditor-button u-btn"
            @click.prevent="commands.bold">
            <fa-icon icon="bold" />
          </button>
          <button
            :class="{ 'is-active': isActive.italic() }"
            class="TextEditor-button u-btn"
            @click.prevent="commands.italic">
            <fa-icon icon="italic" />
          </button>

          <button
            :class="{ 'is-active': isActive.code() }"
            class="TextEditor-button u-btn"
            @click.prevent="commands.code">
            <fa-icon icon="code" />
          </button>

          <button
            :class="{ 'is-active': isActive.strike() }"
            class="TextEditor-button u-btn"
            @click.prevent="commands.strike">
            <fa-icon icon="strikethrough" />
          </button>

          <button
            :class="{ 'is-active': isActive.underline() }"
            class="u-btn"
            @click.prevent="commands.underline">
            <fa-icon icon="underline" />
          </button>

          <button
            :class="{ 'is-active': isActive.paragraph() }"
            class="TextEditor-butto u-btn"
            @click.prevent="commands.paragraph">
            <fa-icon icon="paragraph" />
          </button>

          <button
            :class="{ 'is-active': isActive.link() }"
            class="TextEditor-button u-btn"
            @click.prevent="showLinkMenu(getMarkAttrs('link'))">
            <fa-icon icon="link" />
          </button>

        </div>
        
        <div>
          <button
            :class="{ 'is-active': isActive.heading({ level: 1 }) }"
            class="TextEditor-button u-btn"
            @click.prevent="commands.heading({ level: 1 })">
            <h1 class="u-text-xl">H1</h1>
          </button>

          <button
            :class="{ 'is-active': isActive.heading({ level: 2 }) }"
            class="TextEditor-button u-btn"
            @click.prevent="commands.heading({ level: 2 })">
            <h2 class="u-text-lg">H2</h2>
          </button>

          <button
            :class="{ 'is-active': isActive.heading({ level: 3 }) }"
            class="TextEditor-button u-btn"
            @click.prevent="commands.heading({ level: 3 })">
            <h3 class="u-text-base">H3</h3>
          </button>

          <button
            :class="{ 'is-active': isActive.bullet_list() }"
            class="TextEditor-button u-btn"
            @click.prevent="commands.bullet_list">
            <fa-icon icon="list-ul" />
          </button>

          <button
            :class="{ 'is-active': isActive.ordered_list() }"
            class="TextEditor-button u-font-normal u-btn"
            @click.prevent="commands.ordered_list">
            <fa-icon icon="list-ol" />
          </button>

          <button
            class="mTextEditor-button u-font-normal u-btn"
            @click.prevent="showImageMenu()">
            <fa-icon icon="image" />
          </button>

          <button
            class="TextEditor-button u-font-normal u-btn"
            @click.prevent="showVideoEmbedMenu()">
            <fa-icon :icon="['fab', 'youtube']" />
          </button>

        </div>

      </div>
    </editor-menu-bubble>
    <editor-content 
      :editor="editor"
      class="editor__content" />
  </div>
</template>

<script>
import { Editor, EditorContent, EditorMenuBubble } from 'tiptap';
import {
  Blockquote,
  BulletList,
  CodeBlock,
  Heading,
  ListItem,
  OrderedList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline
} from 'tiptap-extensions';
import Iframe from '@/components/UI/Forms/TextEditorExtensions/iframe.js';
import LazyImage from '@/components/UI/Forms/TextEditorExtensions/LazyImage.js';
import UrlMenuInput from '@/components/UI/Forms/TextEditorExtensions/UrlMenuInput.vue';

export default {
  name: 'AppTextEditor',
  components: {
    EditorContent,
    EditorMenuBubble,
    UrlMenuInput
  },
  props: {
    initText: {
      type: String,
      default: ''
    },
    textId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      editor: null,
      html: 'Write some awesome stuff',
      json: {},
      linkMenuIsActive: false,
      videoMenuIsActive: false,
      imageMenuIsActive: false
    };
  },
  mounted() {
    this.editor = new Editor({
      extensions: [
        new Blockquote(),
        new BulletList(),
        new CodeBlock(),
        new Heading({ levels: [1, 2, 3] }),
        new ListItem(),
        new OrderedList(),
        new Bold(),
        new Code(),
        new Italic(),
        new LazyImage(),
        new Link(),
        new Strike(),
        new Underline(),
        new Iframe()
      ],
      content: this.initText,
      onUpdate: ({ getHTML, getJSON }) => {
        this.json = getJSON();
        this.html = getHTML();
        const payload = {
          id: this.textId,
          html: this.html,
          json: this.json
        };

        this.$emit('textEditorInput', payload);
      }
    });
    this.html = this.initText;
  },
  beforeDestroy() {
    this.editor.destroy();
  },
  methods: {
    showLinkMenu(attrs) {
      this.linkUrl = attrs.href;
      this.linkMenuIsActive = true;
      this.$nextTick(() => {
        this.$refs.linkUrlInput.focus();
      });
    },
    hideLinkMenu() {
      this.linkMenuIsActive = false;
    },
    setLinkUrl(command, linkUrl) {
      command({ href: linkUrl });
      this.hideLinkMenu();
      this.editor.focus();
    },
    showVideoEmbedMenu() {
      this.videoMenuIsActive = true;
      this.$nextTick(() => {
        this.$refs.videoUrlInput.focus();
      });
    },
    hideVideoMenu() {
      this.videoMenuIsActive = false;
    },
    setVideoUrl(command, videoUrl) {
      const data = {
        command: command,
        data: {
          src: videoUrl
        }
      };

      if (data.src !== null) {
        data.command(data.data);
      }

      this.hideVideoMenu();
      this.editor.focus();
    },
    showImageMenu() {
      this.imageMenuIsActive = true;
      this.$nextTick(() => {
        this.$refs.imageUrlInput.focus();
      });
    },
    hideImageMenu() {
      this.imageMenuIsActive = false;
    },
    setImageUrl(command, imageUrl) {
      if (imageUrl !== null) {
        command({ src: imageUrl, alt: 'test' });
      }

      this.hideImageMenu();
      this.editor.focus();
    },
    showImagePrompt(command) {
      const src = prompt('Enter the url of your image here');
      if (src !== null) {
        command({ src });
      }
    }
  }
};
</script>

<style>
.TextEditor {
  @apply u-relative;
}

.TextEditor p {
  @apply u-mb-4;
}

.TextEditor .is-active {
  @apply u-visible;
  @apply u-opacity-100;
}

.TextEditor-menuBubble {
  @apply u-bg-blue-lighter;
  @apply u-absolute;
  @apply u-flex;
  @apply u-rounded;
  @apply u-mb-2;
  @apply u-p-2;
  @apply u-z-20;
  @apply u-invisible;
  @apply u-opacity-0;
  @apply u-flex-col;
  width: 80%;
  transform: translateX(-50%);
  transition: opacity 0.2s, visibility 0.2s;
}

.TextEditor-button.is-active {
  @apply u-shadow;
  @apply u-bg-blue-light;
  @apply u-text-white;
}
</style>
