<template>
  <div 
    class="u-p-8"
    itemscope 
    itemtype="http://schema.org/Collection">
    <h1 
      itemprop="name"
      class="u-page-header">Projects</h1>
    <app-project-card
      v-for="project in filteredProjects"
      :key="project.name" 
      :project="project" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import ProjectCard from '@/components/Projects/Elements/ProjectCard.vue';

export default {
  components: {
    appProjectCard: ProjectCard
  },
  props: {
    projects: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      getActiveCategory: 'Navigation/getActiveCategory'
    }),
    filteredProjects() {
      const projectsArray = [];

      for (const key in this.projects) {
        projectsArray.push({ ...this.projects[key], id: key });
      }

      return projectsArray.filter(element => {
        const activeCategory = this.$store.getters[
          'Navigation/getActiveCategory'
        ];
        if (
          element.type[0].match(activeCategory) ||
          element.type[1].match(activeCategory)
        ) {
          return element;
        } else if (activeCategory === 'All') {
          return element;
        }
      });
    }
  }
};
</script>
