<template>
  <ul 
    class="SubMenu-navigation">
    <slot />
  </ul>
</template>

<script>
export default {
  name: 'SubMenu'
};
</script>

<style>
.SubMenu-navigation {
  @apply u-list-reset;
  @apply u-absolute;
  margin-top: 3.25rem;
}

.SubMenu-navigationItem {
  @apply u-text-lg;
  @apply u-p-4;
  @apply u-my-2;
}

.SubMenu-navigationItem a {
  @apply u-border-l;
  @apply u-border-grey-dark;
  @apply u-bg-white;
}
</style>
