<template>
  <div 
    :class="isActive"
    class="SidebarButton">
    <slot />
    <button 
      class="u-btn u-text-xl"
      @click="clicked">
      {{ name }}
    </button>
  </div>
</template>

<script>
export default {
  props: {
    name: {
      type: String,
      required: true
    },
    active: {
      type: String,
      default: ''
    }
  },
  computed: {
    isActive() {
      return this.active === this.name ? 'isActive' : '';
    }
  },
  methods: {
    clicked(event) {
      this.$emit('filter-projects', this.name);
    }
  }
};
</script>

<style scoped>
.SidebarButton {
  @apply u-my-6;
  @apply u-mr-8;
  @apply u-flex;
  @apply u-p-4;
  @apply u-rounded-lg;
}

.SidebarButton.isActive {
  @apply u-bg-blue-lighter;
}
</style>
