<template>
  <nav 
    :class="{
      'u-full-width-sm': tabStyles.panelWidth === 'sm',
      'u-full-width-md': tabStyles.panelWidth === 'md',
      'u-full-width-lg': tabStyles.panelWidth === 'lg',
      'u-full-width-xl': tabStyles.panelWidth === 'xl',
      'u-full-width-2xl': tabStyles.panelWidth === '2xl',
    }"
    class="u-navigation-panel">
    <div 
      v-for="(tab, key) in tabs"
      :key="key"
      :class="{'isActive': activeTab === tab.name, ['u-w-1/' + Object.keys(tabs).length]: true }"
      class="u-navigation-panel-tab">
      <h2 
        slot="tabName"
        :class="{
          'u-text-sm': tabStyles.textSize === 'sm',
          'u-text-base': tabStyles.textSize === 'base',
          'u-text-lg': tabStyles.textSize === 'lg',
          'u-text-xl': tabStyles.textSize === 'xl',
          'u-text-2xl': tabStyles.textSize === '2xl',
          'u-text-3xl': tabStyles.textSize === '3xl',
          'u-text-4xl': tabStyles.textSize === '4xl'
        }"
        class="u-navigation-panel-tab-name"
        @click="setActiveTab(tab.name)"> {{ tab.name }}</h2>
    </div>  
  </nav>
</template>

<script>
// Expects an object in parent component with name of tabs to be passed as prop.
// Example:
// tabs: {
//   Apples: {
//     name: 'Apples'
//   },
//   Oranges: {
//     name: 'Oranges'
//   }
// }
//
// A string named activeTab must be set on parent component with a default value and
// passed down as a prop.
//
// The parent component must add a method to update activeTab. It can be set like this:
//
// Add a listener in the parent componentto the setActiveTab event and call the
// setActiveTab method.
export default {
  name: 'AppTabbedNavigation',
  props: {
    activeTab: {
      type: String,
      required: true
    },
    tabs: {
      type: Object,
      required: true
    },
    tabStyles: {
      type: Object,
      required: false,
      default: () => ({
        textSize: 'xl',
        panelWidth: 'md'
      })
    }
  },
  methods: {
    setActiveTab(tab) {
      this.$emit('setActiveTab', tab);
    }
  }
};
</script>
